.root {
    -fx-font-size: 8pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.button {
    -fx-text-fill: #FF0000;
    -fx-background-color: #B3E6E6;
    -fx-border-radius: 10;
    -fx-border-color:#FF0000;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.combo-box-base {
    -fx-text-base-color: #FF0000;
    -fx-background-color: #B3E6E6;
    -fx-border-color: #FF0000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.combo-box-base:hover {
    -fx-background-color: #3a3a3a;
}

.pane {
    -fx-background-color: #B3E6E6;
}
.label {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #006464;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
}
